<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ember Starter Kit</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <script type="text/x-handlebars" data-template-name='application'>
  <div class="container">
    <h3>Reading List</h3>

    {{outlet}}

    <div class='row'>
      <p class='pull-right'>
        {{#link-to 'reviews.new'}}New Review{{/link-to}}
      </p>
    </div>
  </div>
  </script>

  <script type="text/x-handlebars" data-template-name='index'>
    <ol class="breadcrumb">
      <li class='active'>Books</li>
    </ol>
    <div class="row">
      <div class="col-sm-8">
        {{render 'books' books}}
      </div>
      <div class="col-sm-4">
        {{render 'genres' genres}}
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="genres">
    <h2>Genres</h2>
    <ul class="list-unstyled">
      {{#each}}
      <li>{{#link-to 'genre' this class='label label-primary'}}{{name}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </script>

  <script type="text/x-handlebars" data-template-name="books">
    <ul class="list-unstyled">
      {{#each}}
      {{book-details book=this tag='li' class='row'}}
      {{else}}
        <li> There are no books</li>
      {{/each}}
    </ul>
  </script>

  <script type="text/x-handlebars" data-template-name='book'>
    <ol class="breadcrumb">
      <li> {{#link-to 'index'}}Books{{/link-to}}</li>
      <li class='active'>{{title}}</li>
    </ol>
    {{book-details book=this tag='div' class='row'}}
  </script>

  <script type="text/x-handlebars" data-template-name='reviews/new'>
    <ol class="breadcrumb">
        <li>{{#link-to 'index'}}Books{{/link-to}}</li>
        <li class='active'>New</li>
    </ol>

    <div class='row'>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="book_title" class="col-sm-2 control-label">Book Title</label>
              <div class="col-sm-9">
                {{input class="form-control" id="book_title" placeholder="Book Title" valueBinding="model.title"}}
              </div>
            </div>
            <div class="form-group">
              <label for="book_author" class="col-sm-2 control-label">Author</label>
              <div class="col-sm-9">
                {{input class="form-control" id="book_author" placeholder="Author" valueBinding="model.author"}}
              </div>
            </div>
            <div class="form-group">
              <label for="book_amazon_id" class="col-sm-2 control-label">Amazon ID</label>
              <div class="col-sm-9">
                {{input class="form-control" id="book_amazon_id" placeholder="Amazon ID" valueBinding="model.amazon_id"}}
              </div>
            </div>
            <div class="form-group">
              <label for="book_review" class="col-sm-2 control-label">Review</label>
              <div class="col-sm-9">
                {{textarea valueBinding="model.review" class="form-control" id="book_review"}}
              </div>
            </div>
            <div class="form-group">
              <label for="book_rating" class="col-sm-2 control-label">Rating</label>
              <div class="col-sm-9">
                {{view Ember.Select content=ratings valueBinding='model.rating' class="form-control" id="book_rating"}}
              </div>
            </div>
            <div class="form-group">
              <label for="book_genre" class="col-sm-2 control-label">Genre</label>
              <div class="col-sm-9">
                {{view Ember.Select content=genres optionLabelPath="content.name" valueBinding="model.genre" class="form-control" id="book_genre"}}
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" {{action 'createReview'}}>Save Review</button>
              </div>
            </div>
          </form>
        </div>
        {{book-details book=model}}
  </script>

  <script type="text/x-handlebars" data-template-name='genre'>
    <ol class="breadcrumb">
      <li> {{#link-to 'index'}}Books{{/link-to}}</li>
      <li class='active'>{{name}}</li>
    </ol>
    {{render 'books' books}}
  </script>

  <script type="text/x-handlebars" data-template-name='components/book-details'>
    <div class="row">
      <div class="col-sm-3">
        <a {{bind-attr href="book.url"}} target='_blank'>
          <img {{bind-attr src="book.image"}} width=180 height=300 />
        </a>
        <p class="text-center rating"><strong>{{book.rating}}</strong>/5</p>
      </div>

      <div class='col-sm-9'>
        <h3>{{#link-to 'book' book}}{{book.title}}{{/link-to}}</h3>
        <p class='text-muted'><em>Written By {{book.author}}</em></p>

      <div>
        <p>{{book.review}}</p>
      </div>
      </div>
      <span>{{#link-to 'genre' book.genre class='label label-primary'}}{{book.genre.name}}{{/link-to}}</span>
    </div>
  </script>

  <!-- scripts -->
  <script src="js/libs/jquery-1.10.2.js"></script>
  <script src="js/libs/ember-template-compiler-1.12.0.js"></script>
  <script src="js/libs/ember-1.12.0.debug.js"></script>
  <script src="js/libs/ember-data.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
